/* Global CSS */
body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1,
h2 {
	color: #333;
}

input,
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

#successMessage {
	display: none;
	margin-top: 10px;
	padding: 10px;
	background-color: #7eff7e;
	color: #333;
}

/* Login */
#login-container {
	max-width: 400px;
	margin: 100px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#login-container h2 {
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

#login-container input[type="email"],
#login-container input[type="password"] {
	display: block;
}

#login-btn,
#signin-btn {
	display: block;
	margin-top: 20px;
	width: 100%;
}

/* Sign In */
#signin-container {
	display: none;
	max-width: 400px;
	margin: 100px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#signin-container h2 {
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

#signin-container input[type="text"],
#signin-container input[type="email"],
#signin-container select {
	display: block;
}

#signin-confirm-btn,
#back-btn {
	display: block;
	margin-top: 20px;
	width: 100%;
}

/* Doctor/Patient Page */
#appointmentInfo {
	margin-top: 20px;
	padding: 10px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#confirm,
#change {
	margin-top: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

#specialty,
#doctor,
#day,
#time {
	background-color: #fff;
}

#takeAppointment {
	margin-top: 20px;
}

#appointmentInfo {
	display: none;
}

.availability-day {
  display: flex;
  align-items: center;
}

.availability-day label {
  margin-right: 5px;
}

.availability-day input {
  margin-right: 20px;
  margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

.availability-day select {
  margin-right: 20px;
	margin-top: auto;
	margin-bottom: auto;
}
